body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.image-column {
    position: relative;
    display: flex;
    flex-basis: max(36vw, 270px);
    height: max(100vh, 650px); /* adjust this number after you're finished with all other height css */
    overflow: hidden;
}

.image-footer {
    position: absolute;
    bottom: 1vh;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    opacity: 80%;
    font-size: 1em;
}

.sign-up-column {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(230, 233, 231);
}

.form-header,
.form-footer {
    text-align: left;
    padding: 50px 5vw;
    line-height: 1.2;
}

a {
    color: inherit;
}

.form-header {
    max-width: 80ch;
    margin-top: 30px;
}

form {
    background-color: rgb(248, 248, 248);
    padding: 10px 0 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.form-text {
    font-weight: 700;
    font-size: 1.5em;
    padding: 10px 6vw 20px;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
}

.form-content > div {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    margin-right: 6vw;
    margin-bottom: 15px;
}

form label {
    font-size: 0.7em;
    font-weight: 700;
    margin-bottom: 2px;
}

form input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}