@font-face {
    font-family: 'shortcut';
    src: url(../fonts/SHORTCUT.woff2) format('woff2'),
         url(../fonts/SHORTCUT.woff) format('woff');
    unicode-range: U+0025-00FF;
    font-display: swap;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.image-column {
    position: relative;
    display: flex;
    flex-basis: max(37vw, 300px);
    height: max(100vh, 650px); /* adjust this number after you're finished with all other height css */
    overflow: hidden;
}

.image-footer {
    position: absolute;
    bottom: 1vh;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    opacity: 80%;
    font-size: 1rem;
}

.sign-up-column {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(230, 233, 231);
}

.form-header,
.form-footer {
    text-align: left;
    padding: 50px 5vw;
    line-height: 1.2;
}

a {
    color: inherit;
}

.form-header {
    max-width: 80ch;
    margin-top: 30px;
}

form {
    background-color: rgb(248, 248, 248);
    padding: 10px 0 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color:rgb(40, 40, 40)
}

.form-text {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px 6vw 20px;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
}

.form-content > div {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    margin-right: 6vw;
    margin-bottom: 15px;
}

form label {
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 2px;
}

form input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

button {
    background-color: #2A563B;
    border-radius: 8px;
    padding: 15px 50px;
    color: rgb(248, 248, 248);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 8px;
}

.form-footer > p > a {
    color:#2A563B;
    font-weight: 600;
}

.odin-container{
    height:20%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.3);
    object-fit: cover;
    position: absolute;
    top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin-image {
    height: 120px;
    width: auto;
    max-width: 100%;
}

.odin-text {
    color: rgb(230, 233, 231);
    font-size: 6rem;
    font-family: 'shortcut', sans-serif;
}

/* background image is too short when window height shrinks */
/* add button animation and form colors */
/* maybe change it so the form margins/gaps scale based on height to prevent overflow? */
/* odin font */