html {
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-container {
    display: flex;
    flex: 0 0 36%;
    width: 100%;
    height: 100vh;
}

.sign-up-container {
    display: flex;
    flex: 1;
    height: 100vh;
    max-width: 75ch;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5vh;
    gap: 10vh;
}