body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.image-column {
    position: relative;
    display: flex;
    flex-basis: max(36vw, 270px);
    height: 100vh;
    overflow: hidden;
}

.image-footer {
    position: absolute;
    bottom: 1vh;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 1em;
}

.sign-up-column {
    display: flex;
    flex: 1;
    height: 100vh;
    max-width: 75ch;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5vw;
    gap: 10vh;
}

.form-header,
.form-main,
.form-footer {
    text-align: left;
}

a {
    color: inherit;
}